input {
  padding: 5px 10px;
  border-radius: 5px;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.dad {
  text-align: center;
}

.dad-container {
  background: lightgrey;
  width: 500px;
  padding: 25px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 25px;
}

.dad-image {
  height: 200px;
  margin-bottom: -25px;
}

.dad-container--search {
  margin-bottom: 25px;
}

.dad-container--text {
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}