body {
  color: gray;
}

img {
  height: 300px;
  width: 300px;
  position: absolute;
  left: -25%;
}

p {
  font-weight: bold;
  margin: 25px auto 10px;
}

label {
  display: block;
  cursor: pointer;
  width: fit-content;
}

button {
  margin: 25px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid mediumslateblue;
  background-color: mediumslateblue;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: mediumslateblue;
}

button:disabled {
  background-color: #ccc;
  pointer-events: none;
  border-color: #ccc;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: mediumslateblue;
  cursor: pointer;
}

select {
  border-color: mediumslateblue;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  overflow: hidden;
  z-index: 5;
}

option {
  padding: 10px;
}

option:hover {
  background: mediumslateblue;
  color: white;
  border-radius: 5px;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, mediumslateblue 50%),
    linear-gradient(135deg, mediumslateblue 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, mediumslateblue 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, mediumslateblue 50%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: mediumslateblue;
  outline: 0;
}

h3 {
  color: black;
  font-size: 16px;
}

.plant-form {
  display: flex;
}

.form {
  width: 50%;
  padding: 0 25px;
}

.info {
  left: 10%;
  position: absolute;
  top: 415px;
  text-align: center;
}

.card {
  text-align: center;
  position: absolute;
  left: 60%;
}

.hidden {
  display: none;
}

.left {
  left: 10%;
}

.order {
  position: relative;
  left: 50%;
  width: 50%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 0;
  font-weight: bold;
}

.active, .accordion:hover {
  background-color: #ccc;
  color: black;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\25BC';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\25B2';
}

.stock {
  width: fit-content;
}

.red-bg {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0;
}

.yellow-bg {
  background-color: yellow;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0;
}

.green-bg {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0;
}

.price {
  font-size: 32px;
  color: black;
}

.breakdown {
  font-weight: normal;
  margin: 15px 0;
}

.tips {
  font-weight: normal;
  margin: 15px 25px;
}

.description {
  width: 47%;
}

.light::before {
  content: '';
  background: url("../images/icons/light.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  background-size: 15px;
  background-position: bottom;
}

.water::before {
  content: '';
  background: url("../images/icons/water.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  background-size: 15px;
  background-position: bottom;
}

.humidity::before {
  content: '';
  background: url("../images/icons/humidity.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  background-size: 15px;
  background-position: bottom;
}

.temperature::before {
  content: '';
  background: url("../images/icons/temperature.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  background-size: 15px;
  background-position: bottom;
}